# dependencies
/node_modules
.memorize/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
test-results/
playwright-report/

# env files
.env.*

# typescript
*.tsbuildinfo
next-env.d.ts

# OpenNext
.open-next
